asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==2.0.12
click==7.1.2
cmake==3.18.2.post1
colorama==0.4.4
decorator==4.4.2
Django==4.0.2
face-recognition-models==0.3.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
moviepy==1.0.3
numpy==1.18.4
opencv-python==4.4.0.46
Pillow==8.0.1
proglog==0.1.9
psycopg2==2.9.3
requests==2.24.0
sqlparse==0.4.2
tqdm==4.51.0
tzdata==2021.5
urllib3==1.25.11
wincertstore==0.2
